
<div class="container p-3 mt-3" data-controller="inputstyling">
    <h1 class="text-white mb-4 text-center fw-light">  <%= image_tag 'Star 2.svg' %> new</h1>
<%= simple_form_for @meeting, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group position-relative">
    <%= f.label :who, class: "form-label" %>

    <%= f.input :who, placeholder: 'Jessie Rodgers', input_html: { class: 'form-control border-0 rounded-pill control' }, label_html: {class: ""}, label: false %>
  </div>
    <div class="form-group">
          <%= f.label :what, class: "form-label" %>
    <%= f.input :what, placeholder: 'Heading home...', input_html: { class: 'form-control border-0 rounded-pill control' }, label_html: {class: ""} %>
  </div>
  <div class="form-group">

    <%= f.input :start_time, html5: true, input_html: { class: 'form-control border-0 rounded-pill control'},  label_html: { class: 'form-label control-top' } %>

  </div>
  <div class="form-group">
    <%= f.input :duration, as: :select, collection: options_for_meeting_duration, input_html: { class: 'form-control border-0 rounded-pill control' }, label_html: {class: ""} ,selected: 0 %>

  </div>
  <div class="form-group">

    <%= f.input :date, html5: true, input_html: { class: 'form-control border-0 rounded-pill control', id: 'control-top' },  label_html: { class: 'form-label control-top' }   %>
  </div>
  <div class="form-group">
    <%= f.input :initial_meet_location, input_html: { class: 'form-control border-0 rounded-pill control', placeholder: "1 Rosoman Street"} %>
  </div>
    <div class="share-friends d-flex form-group control">
      <p class="form-label">share </p>
    <div class="grid ">
      <div class="avatar-custom item default-icon border d-flex justify-content-center align-items-center text-white fw-light ">C<i class="fa-solid fa-check"></i></div>
        <img class="avatar-large item" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <img class="avatar-large item" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        <img class="avatar-large item" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
        <img class="avatar-large item" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <img class="avatar-large item" alt="avatar-large" src="https://vuesax.com/avatars/avatar-3.png" />
    </div>

  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-outline-success w-100 rounded-pill form-submit select' %>
  </div>
<% end %>

</div>
<div class="spacer"></div>
