
<div class="container p-3 mt-3" data-controller="meeting-locations" data-meeting-locations-meeting-value="<%= @meeting.id %>">>
  <div data-controller="session">
    <h1 class="text-white mb-4 text-center fw-light">
    <%= image_tag 'Ellipse 6.svg', data: {session_target: "image"}, class: "initial" %>
    meeting
    </h1>
  </div>

  <h2 class="mb-3" data-controller="countdown" data-countdown-duration-value="<%= @meeting.duration %>"></h2>

  <%= link_to do %>
    <p class="click-me text-danger fw-bold text-end extend"><i class="fa-solid fa-arrow-left"></i>  extend  </p>
    <button class="btn btn-outline-success form-control rounded-pill border-none mb-3" id="need-more-time">need more time? <i class="fa-solid fa-plus plus p-3"></i></button>
  <% end %>

  <h2 class="text-white fw-light mb-2">location</h2>
  <div class="map mb-3"
      id="map"
      style="margin: 0 -16px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
 <h2 class="text-white fw-light">following</h2>

    <div class="share-friends d-flex form-group">
      <p class="form-label">active </p>
      <div class="grid">
        <div class="avatar-custom item default-icon border d-flex justify-content-center align-items-center text-white fw-light">C<i class="fa-solid fa-check"></i></div>
      </div>

    </div>
  <div class="buttons d-flex gap-2 mb-3">
    <div class="meeting-btn bg-warning text-white d-flex align-items-center justify-content-center">
      <div class="text text-center">its getting <br>weird</div>
    </div>
    <div class="meeting-btn bg-success flex-grow-1 text-white d-flex align-items-center justify-content-center">
      <%= link_to  howdiditgo_meeting_path do %>
        <div class="text text-primary" id= "safe-button">safe</div>
      <% end %>
    </div>
    <div class="meeting-btn bg-danger text-white d-flex align-items-center justify-content-center">
      <div class="text">help</div>
    </div>
  </div>

</div>
    <ul>
      <% @meeting.friend_meetings.each do |friend_meeting| %>
        <li><%= friend_meeting.friend.email %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="spacer"></div>
