<div class="container p-3 mt-3" <%= %(data-controller=meeting-locations) unless @share_code %> data-meeting-locations-meeting-value="<%= @meeting.id %>" data-meeting-locations-url-value="<%= meetings_url %>">
  <div data-controller="session">
    <h1 class="text-white mb-4 text-center fw-light">
      <%= image_tag 'Ellipse 6.svg', data: {session_target: "image"}, class: "initial" %>
      meeting
    </h1>
  </div>

  <% if @share_code %>
    <h2 class="text-white">You are following <%= @meeting.user.first_name %></h2>
    <hr class="text-white">
  <% end %>

  <% if !@share_code %>
    <div data-controller="countdown" data-countdown-duration-value="<%= @meeting.duration %>" data-countdown-meeting-id-value=" <%= @meeting.id %>">

      <h2 class="countdown mb-3" data-countdown-target="timer"></h2>

      <%= link_to do %>
        <button class="btn btn-outline-success form-control rounded-pill border-none mb-3" id="need-more-time" data-action="click->countdown#extendSession"><i class="fa-solid fa-plus p-3"></i>15 more minutes? <i class="fa-solid fa-plus p-3"></i></button>
      <% end %>
    </div>
  <% end %>

  <h2 class="text-white fw-light mb-2">your live location</h2>
</div>xf

<div class="map mb-3"
    id="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% if !@share_code %>
  <div class="container p-3 mt-3">
    <h2 class="text-white fw-light">following</h2>
    <div class="share-friends d-flex flex-column form-group p-4">
      <div><p class="text-white fw-light">Click below to share your personal link:</p></div>
        <div class="grid">
          <div class="text-white fs-light friend_name">
            <div class="avatar-custom item default-icon border d-flex justify-content-center align-items-center text-white fw-light">C<i class="fa-solid fa-check"></i></div>
              </p class="text-info fw-light">Chaperone</p>
            </div>
              <% @meeting.friends.each do |friend| %>
              <%= link_to "https://wa.me/?text=Link to follow #{@meeting.user.first_name}: #{meeting_url(@meeting)}?share_code=#{@meeting.user.share_code}. Do not share this link", target: "_blank" do %>
                <div class="text-white friend_name">
                  <%= image_tag friend.image_url, class: "avatar-large item share-icon" %>
                  </p class="text-info fs-light"><%= friend.name %></p>
                </div>
              <% end %>Ç
          <% end %>
        </div>
    </div>

  <div class="buttons d-flex gap-2 mb-3">
    <%= link_to chat_meeting_path(@meeting), class: 'meeting-btn bg-danger text-white d-flex align-items-center justify-content-center p-3' do %>
      <div class="text">SOS</div>
    <% end %>
    <div class="meeting-btn bg-success flex-grow-1 text-white d-flex align-items-center justify-content-center p-3">
      <%= link_to howdiditgo_meeting_path do %>
        <div class="text text-primary" id="safe-button">safe</div>
      <% end %>
    </div>
    <%= link_to chat_meeting_path(@meeting), class: 'meeting-btn bg-warning text-white d-flex align-items-center justify-content-center p-3' do %>
      <div class="text text-center">it's getting <br>weird</div>
    <% end %>
   </div>
   <div class="spacer"></div>
  </div>
<% else %>
  <div class="container p-3 mt-3">
    <p class="text-white">This is your personal page to follow <%= @meeting.user.first_name %></p>
  </div>
<% end %>
