<<div class="container p-3 pb-0 mt-3" <%= %(data-controller=meeting-locations) unless @share_code %> data-meeting-locations-meeting-value="<%= @meeting.id %>" data-meeting-locations-url-value="<%= meetings_url %>">
  <div data-controller="session">
    <h1 class="text-white mb-4 text-center fw-light">
      <%= image_tag 'Ellipse 6.svg', data: {session_target: "image"}, class: "initial" %>
      meet-up
    </h1>
  </div>

  <% if @share_code %>
    <h2 class="text-white">you are following <%= @meeting.user.first_name %></h2>
    <hr class="text-white">
  <% end %>

  <% if !@share_code %>
    <div data-controller="countdown" data-countdown-duration-value="<%= @meeting.duration %>" data-countdown-meeting-id-value=" <%= @meeting.id %>">

      <h2 class="countdown mb-3" data-countdown-target="timer"></h2>
         <%= link_to do %>
      <div class="d-flex justify-content-center">



        <button class="extend-button-link btn btn-success bg-success border-none mb-3 fifteen-btn text-primary" id="need-more-time" data-action="click->countdown#extendSession">

          <div class="d-flex align-items-center justify-content-center">
            <span class="text-danger"><i class="fa-solid fa-plus plus-icon me-1"></i></span>
            <span class="fs-4 fw-bold"> 15</span>
          </div>
        </button>

      </div>


      </div>
      <% end %>
      <div class="d-flex need-time fw-bold">
        <p class="click-me text-white "><i class="fa-solid fa-arrow-left text-danger"></i> more time? </p>
      </div>
    </div>
      <% end %>
    </div>

<div class="container">
    <h2 class="text-white fw-light mb-3">your live location</h2>
</div>
<div class="map mb-3"
    id="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-meeting-user-id-value='<%= @meeting.user.id %>'
    data-map-current-user-id-value='<%= current_user ? current_user.id : nil %>'>
</div>

<% if !@share_code %>
  <div class="container p-3 mt-3">
    <h2 class="text-white fw-light">following</h2>
    <div class="share-friends d-flex flex-column form-group p-4">
      <div>
        <p class="text-white fw-light">click below to share your personal link:</p>
      </div>
      <div class="grid">
        <div class="text-white fs-light friend_name">
          <div class="avatar-custom item default-icon border d-flex justify-content-center align-items-center text-white fw-light">
            C<i class="fa-solid fa-check"></i>
          </div>
          <p class="text-white fw-light mt-2">chaperone</p>
        </div>
        <% @meeting.friends.each do |friend| %>
          <%= link_to "https://wa.me/?text=Link to follow #{@meeting.user.first_name}: #{meeting_url(@meeting)}?share_code=#{@meeting.user.share_code}. Do not share this link", target: "_blank" do %>
            <div class="text-white friend_name avatar-friend-avatar text-center">
              <%= image_tag friend.image_url, class: "item share-icon default-icon avatar-custom" %>
              <i class="fa-solid fa-check"></i>
              <p class="text-white fs-light mt-2"><%= friend.name %></p>
            </div>

          <% end %>
        <% end %>
      </div>
    </div>

    <div class="buttons d-flex gap-2 mb-3">

      <div class="meeting-btn bg-danger text-white d-flex align-items-center justify-content-center p-3 text" data-bs-toggle="modal" data-bs-target="#sosModal">SOS</div>

    <div class="meeting-btn bg-success flex-grow-1 text-white d-flex align-items-center justify-content-center p-3">
      <%= link_to howdiditgo_meeting_path do %>
    <div class="text text-primary" id="safe-button">safe</div>
      <% end %>
    </div>
    <%= link_to chat_meeting_path(@meeting), class: 'meeting-btn bg-warning text-white d-flex align-items-center justify-content-center p-3' do %>
      <div class="text text-center">it's getting <br>weird</div>
        <% end %>
      </div>
    <% else %>
  <div class="container p-3 mt-3">
    <p class="text-white">this is your personal page to follow <%= @meeting.user.first_name %></p>
  </div>
<% end %>
<%= render "shared/sos_modal" %>
</div>
    <div class="spacer"></div>
