<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_primary_id %>
    <%= form.collection_select :user_primary_id, User.all, :id, :email %>
  </div>

  <div class="field">
    <%= form.label :user_secondary_id %>
    <%= form.collection_select :user_secondary_id, User.all, :id, :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
