<%# the styling for this page is inside _home.scss %>

<div class="container p-3 mt-3" >

  <h1 class="text-white mb-4 text-center fw-light" >  <%= image_tag 'Star 2.svg' %>  home</h1>
  <div class="d-flex flex-column gap-3 mb-4">

    <div class="d-flex justify-content-between">
      <%= link_to new_meeting_path do %>
    <button class="btn btn-info main-btn fw-light" >date</button>
    <% end %>
      <%= link_to new_meeting_path do %>
    <button class="btn btn-danger main-btn  fw-light" >hook up</button>
      <% end %>
    </div>

    <div class="d-flex justify-content-between">
       <%= link_to new_meeting_path do %>
      <button class="btn btn-success main-btn fw-light" >walking home</button>
      <% end %>
        <%= link_to new_meeting_path do %>
        <button class="btn btn-warning main-btn text-white fw-light" >night out</button>
        <% end %>
   </div>

    </div>
  <h1 class="text-white fw-light fs-2 mb-4">resources</h1>
  <div class="article d-flex">
    <div class="col article-1">
           <h2 class="text-white fw-light fs-4 mb-4">Sexual Health</h2>
           <p class="article-copy text-white fw-light ">We are the 56 Dean Street Sexual Health Clinic, located in the heart of Soho. Read on to find out how to access our services.</p>
          <p class="click-me text-success fw-bold click-me-1">click me <i class="fa-solid fa-arrow-right"></i> </p>
    </div>
     <%# <%= image_tag 'Star 3.svg', class: "star-img" %>
     <%= link_to "https://www.dean.st/health-amp-wellbeing/london-freshers-2024/", target: "_blank" do %>
        <%= image_tag 'Star 3.svg', class: "star-img" %>
    <% end %>
  </div>

<div class="article d-flex">
  <%= link_to "https://www.nhs.uk/live-well/sexual-health/sex-activities-and-risk/", target: "_blank" do %>
    <%= image_tag 'Ellipse 10.svg', class: "ellipse-img" %>
  <% end %>
  <div class="col article-2">
    <h2 class="text-white fw-light fs-4 mb-4">Safe Sex</h2>
    <p class="article-copy text-white fw-light">Find out about the risks of getting a sexually transmitted infection (STI) from different sexual activities.</p>
    <p class="click-me text-success fw-bold click-me-2"><i class="fa-solid fa-arrow-left"></i> click me </p>
  </div>
</div>

 <div class="article d-flex">
  <div class="col article-3">
    <h2 class="text-white fw-light fs-4 mb-4">Staying Safe</h2>
    <p class="article-copy text-white fw-light">Here are a few tips to help you enjoy London safely, whether you're a first-time visitor, a regular traveller or a local.</p>
    <p class="click-me text-success fw-bold click-me-3">click me <i class="fa-solid fa-arrow-right"></i></p>
  </div>
  <%= link_to "https://www.visitlondon.com/traveller-information/essential-information/staying-safe-in-london", target: "_blank" do %>
    <%= image_tag 'Polygon 3.svg', class: "star-img" %>
  <% end %>
</div>

</div>
<div class="spacer"></div>
