<!DOCTYPE html>
<html>
  <head>
    <title>Chaperone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


  </head>

  <body >

    <%= render "shared/flashes" %>

    <%= yield %>


    <%= render "shared/callmodal" %>

    <% if !@no_mobile_nav %>
      <%= render "shared/mobile_nav" %>
    <% end %>


  </body>
</html>
